function Game.new 36
push constant 20
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push constant 256
push this 0
push constant 5
call Math.multiply 2
sub
pop this 1
push this 0
pop this 2
push constant 20
pop this 13
push constant 20
pop this 14
push constant 20
call Array.new 1
pop this 3
push constant 20
call Array.new 1
pop this 4
push constant 20
call Array.new 1
pop this 5
push constant 20
call Array.new 1
pop this 6
push constant 20
call Array.new 1
pop this 7
push constant 20
call Array.new 1
pop this 8
push constant 20
call Array.new 1
pop this 9
push constant 20
call Array.new 1
pop this 10
push constant 20
call Array.new 1
pop this 11
push constant 20
call Array.new 1
pop this 12
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push constant 10
lt
not
if-goto WHILE_END0
push local 0
push this 3
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push this 4
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push this 5
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push this 6
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push this 7
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push this 8
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push this 9
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push this 10
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push this 11
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push this 12
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 7
call Array.new 1
pop this 15
push constant 4
call Array.new 1
pop local 1
push constant 4
call Array.new 1
pop local 3
push constant 4
call Array.new 1
pop local 2
push constant 4
call Array.new 1
pop local 4
push constant 4
call Array.new 1
pop local 5
push constant 4
call Array.new 1
pop local 6
push constant 4
call Array.new 1
pop local 7
push constant 2
call Array.new 1
pop local 8
push constant 2
call Array.new 1
pop local 9
push constant 2
call Array.new 1
pop local 10
push constant 2
call Array.new 1
pop local 11
push constant 2
call Array.new 1
pop local 16
push constant 2
call Array.new 1
pop local 17
push constant 2
call Array.new 1
pop local 18
push constant 2
call Array.new 1
pop local 19
push constant 2
call Array.new 1
pop local 12
push constant 2
call Array.new 1
pop local 13
push constant 2
call Array.new 1
pop local 14
push constant 2
call Array.new 1
pop local 15
push constant 2
call Array.new 1
pop local 20
push constant 2
call Array.new 1
pop local 21
push constant 2
call Array.new 1
pop local 22
push constant 2
call Array.new 1
pop local 23
push constant 2
call Array.new 1
pop local 24
push constant 2
call Array.new 1
pop local 25
push constant 2
call Array.new 1
pop local 26
push constant 2
call Array.new 1
pop local 27
push constant 2
call Array.new 1
pop local 28
push constant 2
call Array.new 1
pop local 29
push constant 2
call Array.new 1
pop local 30
push constant 2
call Array.new 1
pop local 31
push constant 2
call Array.new 1
pop local 32
push constant 2
call Array.new 1
pop local 33
push constant 2
call Array.new 1
pop local 34
push constant 2
call Array.new 1
pop local 35
push constant 0
push local 8
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 8
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push local 9
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 9
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push local 10
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 10
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push local 11
add
push constant 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 11
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push local 16
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 16
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push local 17
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 17
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push local 18
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 18
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push local 19
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 19
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push local 12
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 12
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push local 13
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 13
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push local 14
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 14
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push local 15
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 15
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push local 20
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 20
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push local 21
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 21
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push local 22
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 22
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push local 23
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 23
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push local 24
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 24
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push local 25
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 25
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push local 26
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 26
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push local 27
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 27
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push local 28
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 28
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push local 29
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 29
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push local 30
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 30
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push local 31
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 31
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push local 32
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 32
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push local 33
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 33
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push local 34
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 34
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push local 35
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 35
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push local 1
add
push local 8
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 1
add
push local 9
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 1
add
push local 10
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 1
add
push local 11
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push local 3
add
push local 16
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 3
add
push local 17
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 3
add
push local 18
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 3
add
push local 19
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push local 2
add
push local 12
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 2
add
push local 13
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 2
add
push local 14
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 2
add
push local 15
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push local 4
add
push local 20
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 4
add
push local 21
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 4
add
push local 22
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 4
add
push local 23
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push local 5
add
push local 24
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 5
add
push local 25
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 5
add
push local 26
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 5
add
push local 27
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push local 6
add
push local 28
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 6
add
push local 29
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 6
add
push local 30
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 6
add
push local 31
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push local 7
add
push local 32
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 7
add
push local 33
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 7
add
push local 34
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 7
add
push local 35
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push this 15
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 15
add
push local 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push this 15
add
push local 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push this 15
add
push local 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push this 15
add
push local 5
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push this 15
add
push local 6
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push this 15
add
push local 7
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
push this 15
add
pop pointer 1
push that 0
pop this 17
push constant 4
pop this 18
push constant 1
pop this 19
push pointer 0
return
function Game.checkLines 1
push argument 0
pop pointer 0
push constant 19
pop local 0
label WHILE_EXP0
push local 0
push constant 1
neg
gt
not
if-goto WHILE_END0
push local 0
push this 3
add
pop pointer 1
push that 0
push local 0
push this 4
add
pop pointer 1
push that 0
and
push local 0
push this 5
add
pop pointer 1
push that 0
and
push local 0
push this 6
add
pop pointer 1
push that 0
and
push local 0
push this 7
add
pop pointer 1
push that 0
and
push local 0
push this 8
add
pop pointer 1
push that 0
and
push local 0
push this 9
add
pop pointer 1
push that 0
and
push local 0
push this 10
add
pop pointer 1
push that 0
and
push local 0
push this 11
add
pop pointer 1
push that 0
and
push local 0
push this 12
add
pop pointer 1
push that 0
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push this 3
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push this 4
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push this 5
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push this 6
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push this 7
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push this 8
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push this 9
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push this 10
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push this 11
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push this 12
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE0
push local 0
push constant 1
sub
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Game.display 1
push argument 0
pop pointer 0
push pointer 0
call Game.checkLines 1
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 0
push constant 0
push constant 511
push constant 255
call Screen.drawRectangle 4
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 1
push constant 5
sub
push this 2
push constant 5
sub
push this 1
push constant 10
push this 0
call Math.multiply 2
add
push constant 5
add
push this 2
push constant 5
add
push constant 20
push this 0
call Math.multiply 2
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 1
push this 2
push this 1
push constant 10
push this 0
call Math.multiply 2
add
push this 2
push constant 20
push this 0
call Math.multiply 2
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
pop local 0
push constant 0
call Screen.setColor 1
pop temp 0
label WHILE_EXP0
push local 0
push constant 20
lt
not
if-goto WHILE_END0
push local 0
push this 3
add
pop pointer 1
push that 0
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 1
push constant 0
push this 0
call Math.multiply 2
add
push constant 1
add
push this 2
push this 0
push local 0
call Math.multiply 2
add
push constant 1
add
push this 1
push this 0
add
push constant 0
push this 0
call Math.multiply 2
add
push constant 1
sub
push this 2
push this 0
add
push this 0
push local 0
call Math.multiply 2
add
push constant 1
sub
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE0
push local 0
push this 4
add
pop pointer 1
push that 0
push constant 0
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 1
push constant 1
push this 0
call Math.multiply 2
add
push constant 1
add
push this 2
push this 0
push local 0
call Math.multiply 2
add
push constant 1
add
push this 1
push this 0
add
push constant 1
push this 0
call Math.multiply 2
add
push constant 1
sub
push this 2
push this 0
add
push this 0
push local 0
call Math.multiply 2
add
push constant 1
sub
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE1
push local 0
push this 5
add
pop pointer 1
push that 0
push constant 0
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 1
push constant 2
push this 0
call Math.multiply 2
add
push constant 1
add
push this 2
push this 0
push local 0
call Math.multiply 2
add
push constant 1
add
push this 1
push this 0
add
push constant 2
push this 0
call Math.multiply 2
add
push constant 1
sub
push this 2
push this 0
add
push this 0
push local 0
call Math.multiply 2
add
push constant 1
sub
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE2
push local 0
push this 6
add
pop pointer 1
push that 0
push constant 0
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 1
push constant 3
push this 0
call Math.multiply 2
add
push constant 1
add
push this 2
push this 0
push local 0
call Math.multiply 2
add
push constant 1
add
push this 1
push this 0
add
push constant 3
push this 0
call Math.multiply 2
add
push constant 1
sub
push this 2
push this 0
add
push this 0
push local 0
call Math.multiply 2
add
push constant 1
sub
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE3
push local 0
push this 7
add
pop pointer 1
push that 0
push constant 0
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 1
push constant 4
push this 0
call Math.multiply 2
add
push constant 1
add
push this 2
push this 0
push local 0
call Math.multiply 2
add
push constant 1
add
push this 1
push this 0
add
push constant 4
push this 0
call Math.multiply 2
add
push constant 1
sub
push this 2
push this 0
add
push this 0
push local 0
call Math.multiply 2
add
push constant 1
sub
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE4
push local 0
push this 8
add
pop pointer 1
push that 0
push constant 0
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push this 1
push constant 5
push this 0
call Math.multiply 2
add
push constant 1
add
push this 2
push this 0
push local 0
call Math.multiply 2
add
push constant 1
add
push this 1
push this 0
add
push constant 5
push this 0
call Math.multiply 2
add
push constant 1
sub
push this 2
push this 0
add
push this 0
push local 0
call Math.multiply 2
add
push constant 1
sub
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE5
push local 0
push this 9
add
pop pointer 1
push that 0
push constant 0
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push this 1
push constant 6
push this 0
call Math.multiply 2
add
push constant 1
add
push this 2
push this 0
push local 0
call Math.multiply 2
add
push constant 1
add
push this 1
push this 0
add
push constant 6
push this 0
call Math.multiply 2
add
push constant 1
sub
push this 2
push this 0
add
push this 0
push local 0
call Math.multiply 2
add
push constant 1
sub
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE6
push local 0
push this 10
add
pop pointer 1
push that 0
push constant 0
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push this 1
push constant 7
push this 0
call Math.multiply 2
add
push constant 1
add
push this 2
push this 0
push local 0
call Math.multiply 2
add
push constant 1
add
push this 1
push this 0
add
push constant 7
push this 0
call Math.multiply 2
add
push constant 1
sub
push this 2
push this 0
add
push this 0
push local 0
call Math.multiply 2
add
push constant 1
sub
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE7
push local 0
push this 11
add
pop pointer 1
push that 0
push constant 0
eq
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push this 1
push constant 8
push this 0
call Math.multiply 2
add
push constant 1
add
push this 2
push this 0
push local 0
call Math.multiply 2
add
push constant 1
add
push this 1
push this 0
add
push constant 8
push this 0
call Math.multiply 2
add
push constant 1
sub
push this 2
push this 0
add
push this 0
push local 0
call Math.multiply 2
add
push constant 1
sub
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE8
push local 0
push this 12
add
pop pointer 1
push that 0
push constant 0
eq
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push this 1
push constant 9
push this 0
call Math.multiply 2
add
push constant 1
add
push this 2
push this 0
push local 0
call Math.multiply 2
add
push constant 1
add
push this 1
push this 0
add
push constant 9
push this 0
call Math.multiply 2
add
push constant 1
sub
push this 2
push this 0
add
push this 0
push local 0
call Math.multiply 2
add
push constant 1
sub
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE9
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Game.moveDown 0
push argument 0
pop pointer 0
push this 19
push constant 1
add
pop this 19
push pointer 0
call Game.checkBorders 1
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 19
push constant 1
sub
pop this 19
push pointer 0
call Game.setInPlace 1
pop temp 0
label IF_FALSE0
push constant 0
return
function Game.setInPlace 5
push argument 0
pop pointer 0
label WHILE_EXP0
push pointer 0
call Game.checkBorders 1
not
if-goto WHILE_END0
push this 19
push constant 1
add
pop this 19
goto WHILE_EXP0
label WHILE_END0
push this 19
push constant 1
sub
pop this 19
push constant 0
pop local 2
label WHILE_EXP1
push local 2
push constant 4
lt
not
if-goto WHILE_END1
push local 2
push this 17
add
pop pointer 1
push that 0
pop local 0
push this 18
push constant 0
push local 0
add
pop pointer 1
push that 0
add
pop local 3
push this 19
push constant 1
push local 0
add
pop pointer 1
push that 0
add
pop local 4
push local 3
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 3
pop local 1
label IF_FALSE0
push local 3
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 4
pop local 1
label IF_FALSE1
push local 3
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 5
pop local 1
label IF_FALSE2
push local 3
push constant 3
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 6
pop local 1
label IF_FALSE3
push local 3
push constant 4
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 7
pop local 1
label IF_FALSE4
push local 3
push constant 5
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push this 8
pop local 1
label IF_FALSE5
push local 3
push constant 6
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push this 9
pop local 1
label IF_FALSE6
push local 3
push constant 7
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push this 10
pop local 1
label IF_FALSE7
push local 3
push constant 8
eq
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push this 11
pop local 1
label IF_FALSE8
push local 3
push constant 9
eq
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push this 12
pop local 1
label IF_FALSE9
push local 4
push local 1
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP1
label WHILE_END1
push constant 4
pop this 18
push constant 1
pop this 19
push pointer 0
call Game.display 1
pop temp 0
push pointer 0
call Game.displayCurrentFigure 1
pop temp 0
push this 16
push this 15
add
pop pointer 1
push that 0
pop this 17
push constant 0
pop this 16
push constant 0
return
function Game.displayCurrentFigure 4
push argument 0
pop pointer 0
push constant 0
pop local 0
push constant 0
not
call Screen.setColor 1
pop temp 0
label WHILE_EXP0
push local 0
push constant 4
lt
not
if-goto WHILE_END0
push local 0
push this 17
add
pop pointer 1
push that 0
pop local 3
push this 18
push constant 0
push local 3
add
pop pointer 1
push that 0
add
pop local 1
push this 19
push constant 1
push local 3
add
pop pointer 1
push that 0
add
pop local 2
push this 1
push local 1
push this 0
call Math.multiply 2
add
push this 2
push local 2
push this 0
call Math.multiply 2
add
push this 1
push local 1
push this 0
call Math.multiply 2
add
push this 0
add
push this 2
push local 2
push this 0
call Math.multiply 2
add
push this 0
add
call Screen.drawRectangle 4
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push this 14
push constant 1
sub
pop this 14
push this 14
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 13
pop this 14
push pointer 0
call Game.eraseCurrentFigure 1
pop temp 0
push pointer 0
call Game.moveDown 1
pop temp 0
push pointer 0
call Game.displayCurrentFigure 1
pop temp 0
label IF_FALSE0
push this 16
push constant 1
add
pop this 16
push this 16
push constant 7
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
pop this 16
label IF_FALSE1
push constant 0
return
function Game.eraseCurrentFigure 4
push argument 0
pop pointer 0
push constant 0
pop local 0
push constant 0
call Screen.setColor 1
pop temp 0
label WHILE_EXP0
push local 0
push constant 4
lt
not
if-goto WHILE_END0
push local 0
push this 17
add
pop pointer 1
push that 0
pop local 3
push this 18
push constant 0
push local 3
add
pop pointer 1
push that 0
add
pop local 1
push this 19
push constant 1
push local 3
add
pop pointer 1
push that 0
add
pop local 2
push this 1
push local 1
push this 0
call Math.multiply 2
add
push constant 1
add
push this 2
push local 2
push this 0
call Math.multiply 2
add
push constant 1
add
push this 1
push local 1
push this 0
call Math.multiply 2
add
push this 0
add
push constant 1
sub
push this 2
push local 2
push this 0
call Math.multiply 2
add
push this 0
add
push constant 1
sub
call Screen.drawRectangle 4
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Game.moveLeft 0
push argument 0
pop pointer 0
push this 18
push constant 1
sub
pop this 18
push pointer 0
call Game.checkBorders 1
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 18
push constant 1
add
pop this 18
label IF_FALSE0
push constant 0
return
function Game.moveRight 0
push argument 0
pop pointer 0
push this 18
push constant 1
add
pop this 18
push pointer 0
call Game.checkBorders 1
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 18
push constant 1
sub
pop this 18
label IF_FALSE0
push constant 0
return
function Game.checkBorders 5
push argument 0
pop pointer 0
push constant 0
pop local 1
label WHILE_EXP0
push local 1
push constant 4
lt
not
if-goto WHILE_END0
push local 1
push this 17
add
pop pointer 1
push that 0
pop local 0
push this 18
push constant 0
push local 0
add
pop pointer 1
push that 0
add
pop local 2
push this 19
push constant 1
push local 0
add
pop pointer 1
push that 0
add
pop local 3
push local 2
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 18
push constant 1
add
pop this 18
push local 2
push constant 1
add
pop local 2
push pointer 0
call Game.checkBorders 1
return
label IF_FALSE0
push local 2
push constant 9
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 18
push constant 1
sub
pop this 18
push local 2
push constant 1
sub
pop local 2
push pointer 0
call Game.checkBorders 1
return
label IF_FALSE1
push local 3
push constant 19
gt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
return
label IF_FALSE2
push local 2
push constant 0
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 3
pop local 4
label IF_FALSE3
push local 2
push constant 1
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 4
pop local 4
label IF_FALSE4
push local 2
push constant 2
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push this 5
pop local 4
label IF_FALSE5
push local 2
push constant 3
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push this 6
pop local 4
label IF_FALSE6
push local 2
push constant 4
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push this 7
pop local 4
label IF_FALSE7
push local 2
push constant 5
eq
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push this 8
pop local 4
label IF_FALSE8
push local 2
push constant 6
eq
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push this 9
pop local 4
label IF_FALSE9
push local 2
push constant 7
eq
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push this 10
pop local 4
label IF_FALSE10
push local 2
push constant 8
eq
if-goto IF_TRUE11
goto IF_FALSE11
label IF_TRUE11
push this 11
pop local 4
label IF_FALSE11
push local 2
push constant 9
eq
if-goto IF_TRUE12
goto IF_FALSE12
label IF_TRUE12
push this 12
pop local 4
label IF_FALSE12
push local 3
push local 4
add
pop pointer 1
push that 0
if-goto IF_TRUE13
goto IF_FALSE13
label IF_TRUE13
push constant 0
return
label IF_FALSE13
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
not
return
